body {
 
}

.header .col {
       background-color: #5dade6;
    color: white;
}

.col {
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
}

.col:last-child {
    border-right: solid 1px grey;
}

.row:last-child .col {
    border-bottom: solid 1px grey;
}

#highcharts-9 svg rect{
 fill-opacity:0;
 background-color:white;
}